.footerContent{
    padding: 100px 20px 40px 20px;
    background-color: #131516;
    color: white;
    &__links{
        color: white;
        text-decoration: none;
        padding-bottom: 8px;
    }

}